<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title > NewtEgg Adventurer Reviews </title> 
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
        <link rel="stylesheet" href="css/styles.css">
        <link rel="preconnect" href="https://fonts.gstatic.com">
        <link href="https://fonts.googleapis.com/css2?family=Julius+Sans+One&display=swap" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css2?family=Spartan:wght@100;300&display=swap" rel="stylesheet">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
        <script src="js/functions.js"></script>
    </head>
    
    <body>
        <nav id="navigation" class="navbar navbar-expand bg-transparent">
              <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav mr-auto">
                  <li class="nav-item active">
                    <a class="nav-link" href="/"><button class="btn btn-primary">Home</button><span class="sr-only"></span></a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" href="/allReviews"><button class="btn btn-primary">Reviewed Items</button></a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" href="/profile"><button class="btn btn-primary">My Profile</button></a>
                  </li>
                </ul>
              </div>
        </nav>

        
        <main id="container">
            <br>
            <banner id="banner"><h1>NewtEgg </h1><a href="/"><img class="eggImage" src="img/egg.png"></a></banner>
            <form id="searchForm" action='/search' class="d-flex justify-content-center" onsubmit="if(invalidateSearchForm()){event.preventDefault();}">
                    <input class="input-group-text" id="searchBar" type="text" placeholder="Search for adventures..." name="keyword"/>
                    <button id="searchButton" class="btn btn-warning">Embark</button>
                    <br><br>
            </form>

            
