<%- include('partials/header.ejs') %>

                <% if (typeof accountSuccess != "undefined" && accountSuccess) { %>
                    <h3 class="error">You have sucessfully created your new account!</h3>
                <% } %>
                <% if (typeof deleteSuccess != "undefined" && deleteSuccess) { %>
                    <h3 class="error">You have sucessfully deleted your account!</h3>
                <% } %>

                <form method="POST" id="loginForm" action="/loginPost">
                    
                    <label for="username" class="d-flex justify-content-center">Username:&nbsp <input type="text" id="username" name="username" class="input-group-text"></label>
                    <br>
                    <label for="password" class="d-flex justify-content-center">Password: &nbsp <input type="password" id="password" name="password" class="input-group-text"></label>
                    <br>
                    <button id="loginButton" class="btn btn-primary">Login!</button>
                </form>
                
                <% if (typeof loginError != "undefined" && loginError) { %>
                    <h3 class="error">Wrong credentials!</h3>
                <% } %>
                <hr>
                No account? Sign up <a href="/signup">here!</a>
                <hr>
                
<%- include('partials/footer.ejs') %>

<script src="js/login.js"></script>