<%- include('partials/header.ejs') %>

        <div id="listLimiter">
            <div id="resultscontainer">

            </div>
            <input type="hidden" id="resultsLoader" name='<%= keyword %>'>
        </div>  
        <br>

<script> 
$(document).ready(function() {
    $("#resultsLoader").click();
});
</script> 
<%- include('partials/footer.ejs') %>                            