<%- include('partials/header.ejs') %>

<!--Not completely functional. All that is displayed is the name of the item.-->

        <div id="listLimiter">
            <div id="resultscontainer">

            </div>
            <input type="hidden" id="resultsLoader" name='<%= keyword %>'>
        </div>  
        <br>
        
        </main>

<script> 
$(document).ready(function() {
    $("#resultsLoader").click();
});
</script> 
<%- include('partials/footer.ejs') %>                            