<%- include('partials/header.ejs') %>
        <br>
        <div id="listLimiter">
            <div id="resultscontainer">

            </div>
            <input type="hidden" id="resultsLoader" name='<%= keyword %>'>
        </div>  
        <br>


<%- include('partials/footer.ejs') %>                            
<script src="js/results.js"></script> 