<%- include('partials/header.ejs') %>
        <h2>Sign up here!</h2>
        
        <form method="POST" action="/makeNewAccount">
            <label for="username" class="d-flex justify-content-center">Username:&nbsp<input type="text" id="username" name="username"></label>
            <br>
            <label for="password" class="d-flex justify-content-center">Password:&nbsp<input type="password" id="password" name="password"></label>
            <br>
            <label for="retypePassword" class="d-flex justify-content-center">Retype Password:&nbsp<input type="password" id="retypePassword" name="retypePassword"></label>
            <br>
            <button class="btn btn-primary">Sign up!</button>
        </form>
        
        <% if (typeof existsError != "undefined" && existsError) { %>
        <h3 class="error">This username already exists!</h3>
        <% } %>
        <% if (typeof emptyError != "undefined" && emptyError) { %>
        <h3 class="error">You must fill in both fields!</h3>
        <% } %>
        <% if (typeof retypeError != "undefined" && retypeError) { %>
        <h3 class="error">Password and Retype Password must match!</h3>
        <% } %>
        
<%- include('partials/footer.ejs') %>
<script src="js/signup.js"></script>