<%- include('partials/header.ejs') %>
        Sign up! (test)
        
        <form method="POST" action="/makeNewAccount">
            Username:<input type="text" name="username">
            <br>
            Password: <input type="password" name="password">
            <br>
            <button>Sign up!</button>
        </form>
        
        <% if (typeof existsError != "undefined" && existsError) { %>
        <h3 class="error">This username already exists!</h3>
        <% } %>
        <% if (typeof emptyError != "undefined" && emptyError) { %>
        <h3 class="error">You must fill in both fields!</h3>
        <% } %>
        
<%- include('partials/footer.ejs') %>

<script>
$(document).ready(async function() {
    $("#searchForm").css("visibility", "hidden");
    $("nav").css("visibility", "hidden");
});
</script> 