<%- include('partials/header.ejs') %>
        Sign up here!
        
        <form method="POST" action="/makeNewAccount">
            Username:<input type="text" name="username">
            <br>
            Password: <input type="password" name="password">
            <br>
            Retype Password: <input type="password" name="retypePassword">
            <br>
            <button class="btn btn-primary">Sign up!</button>
        </form>
        
        <% if (typeof existsError != "undefined" && existsError) { %>
        <h3 class="error">This username already exists!</h3>
        <% } %>
        <% if (typeof emptyError != "undefined" && emptyError) { %>
        <h3 class="error">You must fill in both fields!</h3>
        <% } %>
        <% if (typeof retypeError != "undefined" && retypeError) { %>
        <h3 class="error">Password and Retype Password must match!</h3>
        <% } %>
        
<%- include('partials/footer.ejs') %>
<script src="js/signup.js"></script>